* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --bgColor: #e0e0e0;
  --fontColor: #000033;
}
body {
  background-color: var(--bgColor);
  color: var(--fontColor);
}
