* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --bgColor: #e0e0e0;
  --fontColor: #000033;
  --yellow-color: #ddb561;
  --brown-color: #361600;
}
body {
  background-color: var(--bgColor);
  color: var(--fontColor);
  scroll-behavior: smooth;
}
