.landinPageMain {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--yellow-color);
  color: var(--brown-color);
}
.lpHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.lpHeader nav {
  cursor: pointer;
}
.lpProfileName {
  font-size: 2rem;
  font-weight: 600;
}
.lpNavLinkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
